{% extends "books/base.html" %} 

{% block title%}BokStore - Books {% endblock %}



{% block content%}
    <div>
      <div class="grid grid-cols-4 gap-4 mt-10">
        {% for book in book_list %}
        <a
          href="{% url 'book.show' book.id %}"
          class="justify-self-center text-center my-4"
          target="_blank"
        >
          <div class="flex justify-center">
            <img
              src="{{book.thumbnailURL}}"
              class="rounded-t-[0.625rem] h-[300px] rounded-b-none w-full"
            />
          </div>
          <p class="text-lg text-gray-700">{{ book.title }}</p>
        </a>
        {% endfor %}
      </div>
    </div>
{% endblock %}
